
/*All*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body
{
    font-family: 'Raleway' , sans-serif;
}

/*Nav*/

.nav
{
    padding: 1rem 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navitem
{
    margin-right: 2rem;
    color: #0065FC;
    letter-spacing: 1px;
}

.navitem-hosts
{
    margin-right: 2rem;
    font-weight: 300;
    color: #0065FC;
    letter-spacing: 1px;
}

.navitem-activs
{
    margin-right: 2rem;
    font-weight: 300;
    color: black;
    letter-spacing: 1px;
}

.navitem-signup
{
    margin-right: 2rem;
    font-weight: 600;
    color: #0065FC;
    letter-spacing: 1px;
}

.navitem:first-child
{
    margin-right: auto;
    margin-left: 2rem;
}

/*Header*/

.trouvez
{
    margin-right: auto;
    margin-left: 2rem;
    font-size: large;
    margin-bottom: 0.2rem;

}

.baseline
{
    margin-right: auto;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

/*Barre de recherche*/

.search
{
    margin-left: 2rem;
    border: none;
}

.rechercher
{
    display: inline-block;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border: none;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    margin: 5px;
}

.position
{
    margin-right: auto;
    margin-left: 2rem;
    background-color: #F2F2F2;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 9px;
    padding-bottom: 9px;;
    border-radius: 10px 0px 0px 10px;
}

/*Barre de filtres*/

.filters
{
    padding: 1rem;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.selects
{
    padding: 2rem;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.etiq
{
    border: black solid 1px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

.etiq i
{
    color: #0065FC;
    padding: 10px;
    border-radius: 50px;
    background-color: #DEEBFF;
}

.etiq span
{
    margin: 0px 15px 0px 10px;
}

/*Ligne information logements*/

.info
{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

.info i
{
    margin-right: 10px;
    color: #0065FC;
    border: black solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;;
    border-radius: 50px;
}

/*TOPROW*/

.toprow
{
    flex-direction: row;
    display: flex;
}

/*Hébergements à Marseille*/

.hostsmarseilletitle
{
    padding: 2rem;
    font-size: large;
}

.hostsection
{
    background-color: #F2F2F2;
    box-sizing: content-box;
    flex-direction: column;
    width: 60%;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
}

/*Top blocs*/

.hosttop
{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

/*La cannebiere*/

.bloccannebiere
{
    width: 200px;
    height: 185px;
    background-color: white;
    padding: 4px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitlecannebiere
{
    font-size: 13px;
    margin: 5px;
}

.txtnuitcannebiere
{
    font-size: 12px;
    margin: 5px;
}

.starbloccannebiere
{
    padding: 5px;
    color: #0065FC;;
}


.lacannebiere
{
    width: 192px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Hotel du port*/

.blochotelduport
{
    width: 200px;
    height: 185px;
    background-color: white;
    padding: 4px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitlehotelduport
{
    font-size: 13px;
    margin: 5px;
}

.txtnuithotelduport
{
    font-size: 12px;
    margin: 5px;
}

.starblochotelduport
{
    padding: 5px;
    color: #0065FC;;
}

.hotelduport
{
    width: 192px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Hotel les mouettes*/

.blochotellesmouettes
{
    width: 200px;
    height: 185px;
    background-color: white;
    padding: 4px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitlehotellesmouettes
{
    font-size: 13px;
    margin: 5px;
}

.txtnuithotellesmouettes
{
    font-size: 12px;
    margin: 5px;
}

.starblochotellesmouettes
{
    padding: 5px;
    color: #0065FC;;
}

.hotellesmouettes
{
    width: 192px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Bottom blocs*/

.hostbottom
{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-top: 1rem;
}

/*Hotel de la mer*/

.blochoteldelamer
{
    width: 200px;
    height: 185px;
    background-color: white;
    padding: 4px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitlehoteldelamer
{
    font-size: 13px;
    margin: 5px;
}

.txtnuithoteldelamer
{
    font-size: 12px;
    margin: 5px;
}

.starblochoteldelamer
{
    padding: 5px;
    color: #0065FC;;
}

.hoteldelamer
{
    width: 192px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Auberge le panier*/

.blocaubergelepanier
{
    width: 200px;
    height: 185px;
    background-color: white;
    padding: 4px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitleaubergelepanier
{
    font-size: 13px;
    margin: 5px;
}

.txtnuitaubergelepanier
{
    font-size: 12px;
    margin: 5px;
}

.starblocaubergelepanier
{
    padding: 5px;
    color: #0065FC;;
}

.aubergelepanier
{
    width: 192px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Hotel chez amina*/

.blochotelchezamina
{
    width: 200px;
    height: 185px;
    background-color: white;
    padding: 4px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitlehotelchezamina
{
    font-size: 13px;
    margin: 5px;
}

.txtnuithotelchezamina
{
    font-size: 12px;
    margin: 5px;
}

.starblochotelchezamina
{
    padding: 5px;
    color: #0065FC;;
}

.hotelchezamina
{
    width: 192px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}

/*Show me more*/

.showmemore
{
    padding: 2rem;
}

/*Les plus populaires*/

.famous
{
    background-color: #F2F2F2;
    flex-direction: column;
    box-sizing: content-box;
    width: 40%;
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
}

.famoustitle
{
    padding: 2rem;
    font-size: large;
}

/*Hotel le soleil du matin*/

.blochotellesoleil
{
    flex-direction: row;
    width: 410px;
    height: 120px;
    background-color: white;
    padding: 4px;
    margin-left: 30px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitlehotellesoleil
{
    font-size: 13px;
    margin: 5px;
    padding-top: 5px;
}

.txtnuithotellesoleil
{
    font-size: 12px;
    margin: 5px;
}

.starblochotellesoleil
{
    padding: 5px;
    color: #0065FC;
    padding-top: 40px;
}

.hotellesoleil
{
    height: 112px;
    width: auto;
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    clip: rect(0px,110px,142px,0px);
}