
/*Nav*/

.nav {
    justify-content: flex-start;
}

.navitem-hosts, .navitem-activs {
    position: absolute;
    top: 2rem;
    margin: 0rem;
    border-bottom: 3px #F2F2F2 solid;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
}

.navitem-hosts:hover, .navitem-activs:hover
{
    border-top: none;
    border-bottom-color: #0065FC;
    color: #0065FC;
}

.navitem:first-child
{
    margin-left: 1rem;
}

.navitem-hosts {
    left: 0rem;
}

.navitem-activs {
    right: 0rem;
}

/*Section recherche*/

.rechercher i {
    display: block;
    visibility: visible;
}

.rechercher span {
    display: none;
    visibility: hidden;
}

.trouvez {
    margin-top: 5rem;
    margin-bottom: 1rem;
    padding-left: 0px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.baseline
{
    padding-left: 0px;
    margin-left: 1rem;
}

.searchform
{
    margin-left: 1rem;
}

/*Filtres*/

.filters
{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0px;
    margin-left: 1rem;
}

.filters p
{
    padding-left: 0px;
    margin-bottom: 10px;
}

.selects
{
    padding: 0rem;
    flex-wrap: wrap;
}

.etiq
{
    margin: 5px;
    margin-left: 0px;
}

.info
{
    padding: 0px;
    margin-left: 1rem;
}

/*Les plus populaires*/

.toprow {
    flex-direction: column-reverse;
}

.famous {
    width: 100%;
    padding: 0rem;
}

.entetefamous {
    margin: 0rem 1rem;
}

/*Hébergements à Marseille*/

.blochotel {
    margin: 1rem;
    width: 90%;
}

.hostsection {
    width: 100%;
    background-color: white;
    padding: 0rem;
    margin: 0rem;
}

.hostsmarseilletitle {
    padding: 0rem 0rem 0rem 1rem;
}

.hosttop, .hostbottom {
    flex-direction: column;
    padding: 0rem;
    align-items: center;
    margin: 0px;
}

.blochotelmarseille {
    width: 90%;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.showmemore
{
    padding-left: 0px;
    margin-left: 1rem;
}

/*Activités à Marseille*/

.rowactivities {
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.activitiesmarseilletitle
{
    margin-left: 1rem;
    padding-left: 0px;
}

.column2, .column1
{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.blocmobile 
{
    width: 90%;
    height: 150px;
    margin-bottom: 25px;
    margin-right: auto;
    margin-left: auto;
}

.imgmobile
{
    width: 100%;
    height: 100px;
}

/*Footer*/

.blocfooter 
{
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    margin-top: 50px;
    padding-top: 20px;
}

.footercolumn 
{
    width: 100%;
}

.footertitle 
{
    font-size: 15px;
    margin-top: 20px;
}

.footertxt 
{
    font-size: 14px;
}