
/*All*/

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body
{
    font-family: 'Raleway' , sans-serif;
}

/*Nav*/

.nav
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navitem
{
    margin-right: 2rem;
    letter-spacing: 1px;
}

.navitem-hosts, .navitem-activs
{
    padding: 2rem 1rem;
    margin-right: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    color: black;
    border-top: 3px transparent solid;
}

.navitem-hosts:hover, .navitem-activs:hover
{
    border-top-color: #0065FC;
    color: #0065FC;
}

.navitem-signup
{
    margin-right: 2rem;
    font-weight: 600;
    color: #0065FC;
    letter-spacing: 1px;
    margin-left: 1rem;
}

.navitem:first-child
{
    margin-right: auto;
    margin-left: 2rem;
}

/*Header*/

.trouvez
{
    margin-right: auto;
    margin-left: 2rem;
    font-size: 23px;
    margin-bottom: 0.2rem;

}

.baseline
{
    margin-right: auto;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

/*Barre de recherche*/

.searchform
{
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

.search
{
    width: 190px;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    border-left: none;
    border-right: none;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
}

.search::placeholder
{
    color: black;
}

.rechercher
{
    display: inline-block;
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    border: none;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
}

.rechercher i {
    display: none;
    visibility: hidden;
}

.position
{
    background-color: #F2F2F2;
    padding: 15px;
    border-radius: 10px 0px 0px 10px;
}


/*Barre de filtres*/

.filters
{
    margin: 2rem 1rem;
    display: flex;
    align-items: center;
}

.filters p {
    padding-left: 1rem;
}

.selects
{
    display: flex;
}

.etiq
{
    border: #D5D2D6 solid 1px;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;

}

.etiq i
{
    color: #0065FC;
    padding: 10px;
    border-radius: 50px;
    background-color: #DEEBFF;
}

.etiq span
{
    margin: 0px 15px 0px 10px;
}

/*Ligne information logements*/

.info
{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    align-items: center;
}

.info i
{
    margin-right: 10px;
    color: #0065FC;
    border: #D5D2D6 solid 1px;
    padding: 10px 15px;
    border-radius: 50px;
}

/*TOPROW*/

.toprow
{
    flex-direction: row;
    display: flex;
}

/*Hébergements à Marseille*/

.hostsmarseilletitle
{
    padding: 2rem;
    font-size: 23px;
}

.hostsection
{
    background-color: #F2F2F2;
    box-sizing: content-box;
    flex-direction: column;
    width: 65%;
    padding: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
}

/*Style blocs hébergements à Marseille*/

.blochotelmarseille
{
    width: 30%;
    background-color: white;
    padding: 4px;
    margin-right: 20px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.txttitle
{
    font-size: 18px;
    margin: 5px;
}

.txtnuit
{
    font-size: 15px;
    margin: 5px;
}

.starbloc
{
    padding: 5px;
    color: #0065FC;;
}

.gray
{
    color: #F2F2F2;
}

/*Hosttop*/

.hosttop
{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
}

/*La cannebiere*/

.lacannebiere
{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

/*Hotel du port*/

.hotelduport
{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

/*Hotel les mouettes*/

.hotellesmouettes
{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

/*Bottom blocs*/

.hostbottom
{
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    margin-top: 1rem;
}

/*Hotel de la mer*/

.hoteldelamer
{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

/*Auberge le panier*/

.aubergelepanier
{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

/*Hotel chez amina*/

.hotelchezamina
{
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

/*Show me more*/

.showmemore
{
    padding: 2rem;
}

/*Les plus populaires*/

.famous
{
    background-color: #F2F2F2;
    flex-direction: column;
    box-sizing: content-box;
    width: 30%;
    padding: 1rem 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 30px;
}

.entetefamous
{
    display: flex;
    flex-direction: row;
    padding: 2rem 0rem;
    justify-content: space-between;
}

.famoustitle
{
    font-size: 23px;
}

.fa-chart-line
{
    color: black;
    float: right;
    font-size: 23px;
}

/*Style blocs hotels famous*/

.blochotel
{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    padding: 4px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #DAEBEB;
}

.hotel
{
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.txttitlehotel
{
    font-size: 18px;
    margin: 5px; 

}

.txtnuithotel
{
    font-size: 15px;
    margin: 5px;

}

.starblochotel
{
    
    color: #0065FC;
    margin-top: auto;
    margin-bottom: 10px;
}

/*Hotel le soleil*/

.hotellesoleil
{
    height: 150px;
    width: 40%;
    clip: rect(0px,150px,150px,0px);
    border-radius: 10px 0px 0px 10px;
    
}

/*Au coeur de l'eau*/

.aucoeurdeleau
{
    height: 170px;
    width: 40%;
    clip: rect(0px,150px,150px,0px);
    border-radius: 10px 0px 0px 10px;
    
}

/*Hotel tout bleu tout blanc*/

.hoteltoutbleutoutblanc
{
    height: 170px;
    width: 40%;
    clip: rect(0px,150px,150px,0px);
    border-radius: 10px 0px 0px 10px;
    
}

/*Activités à Marseille*/

.activitiesmarseilletitle
{
    padding: 2rem;
    font-size: large;
}

.rowactivities
{
    flex-direction: row;
    display: flex;
    padding-bottom: 5rem;
    margin-left: 2rem;
}

.txtactivities
{
    padding: 10px;
    padding-left: 20px;
}

.column1
{
    height: 600px;
    width: 25%;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #DAEBEB;
    margin-right: 2rem;

}

.column2
{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-right: 2rem;

}

.blocmoyen
{
    height: 350px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #DAEBEB;
    margin-bottom: 40px;
}

.petitbloc
{
    height: 210px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 5px 5px #DAEBEB;
}


/*Vieux port*/

.vieuxportimg
{
    height: 550px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/*Fort de Pomègues*/

.fortdepomeguesimg
{
    height: 300px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/*Iles du Frioul*/

.ilesdufrioulimg
{
    height: 160px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/*Parc des Calanques*/

.parcdecalanquesimg
{
    height: 550px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/*Notre Dame de la Garde*/

.notredamedelagardeimg
{
    height: 300px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/*Parc Longchamp*/

.longchampimg
{
    height: 160px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

/*Footer*/

.blocfooter
{
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    padding: 50px;
}

.footercolumn
{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.footertitle
{
    font-size: large;
    padding-bottom: 20px;
}

.footertxt
{
    padding-bottom: 10px;
}
