
    
    .filters 
    {
        width: 100%;
    }

    .selects
    {
        width: 100%;
    }

    .etiq
    {
        width: 100%;
    }
    
    .etiqspan
    {
        width: 100%;
    }

    .info
    {
        width: 100%;
    }

    .info i
    {
        width: 100%;
    }

    .hostsection
    {
        width: 100%;
    }

    .hosttop
    {
        width: 100%;
    }

    .bloccannebiere
    {
        width: 100%;
    }

    .blochotelduport
    {
        width: 100%;
    }

    .blochotellesmouettes
    {
        width: 100%;
    }

    .hostbottom
    {
        width: 100%;
    }

    .blochoteldelamer
    {
        width: 100%;
    }

    .blocaubergelepanier
    {
        width: 100%;
    }

    .blochotelchezamina
    {
        width: 100%;
    }

    .famous
    {
        width: 100%;
    }
